@media screen and (min-device-width: 320px) {

  .fav-container,
  .brew-fav,
  .joke-fav {
    display: flex;
    flex-direction: column;
  }

  .brew-head,
  .joke-head {
    align-self: center;
  }
}

@media screen and (min-device-width: 768px) {

  .brew-list,
  .joke-list {
    font-size: 1.3em;
  }

  .brew-head,
  .joke-head {
    font-size: 2.5em;
  }

  .fav-container {
    justify-content: space-around;
  }
}
