* body {
  margin: 0;
  font-family: 'Kalam', cursive;
}

.app-wrap {
  height: 100%;
  position: relative;
}

.app-wrap::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url('https://image.freepik.com/free-vector/twigs-hop-seamless-pattern-with-repeating-images-malt-leaves-hand-drawing-white_1284-49324.jpg');
  background-size: auto;
  opacity: 0.05;
}

button:hover {
  cursor: pointer;
}

button {
  padding: 10px 20px 10px 20px;
  border-radius: 7px;
  box-shadow: 4px 2px 2px lightgrey;
  margin: 5px;
  font-size: 1rem;
  background-color: #ffdab2;
  font-style: oblique;
}
