@media screen and (min-device-width: 320px) {

  .joke-container,
  .button-wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .cur-joke {
    margin: 0 8px 0 8px;

  }

  .joke-select {
    margin: 12px 0 12px 0;
  }
}

@media screen and (min-device-width: 765px) {

  .cur-joke {
    font-size: larger;
    margin-bottom: 1.2em;
  }

  .button-wrap {
    flex-direction: row;
  }

  .joke-select {
    margin: 0 2em 0 2em;
  }
}
