@media screen and (min-device-width: 320px) {

  .input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: relative;
  }

  .dash {
    position: relative;
    border-radius: 7px;
  }

  .zip-input {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .welcome {
    font-size: 26px;
  }

  .step {
    font-size: 20px;
  }

}

@media screen and (min-device-width: 768px) {

  
}
